{% extends 'music_library/base.html'%}

{% block content %}

<h1>Add New Artist</h1>

{% if errors %}
<div class="errors">
    {{ errors|join(', ') }}
</div>
{% endif %}

<form action="" method="POST">

    <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="form-control">
        <label for="genre">Genre</label>
        <input type="genre" name="genre" id="genre">
    </div>

    <input type="submit" value="Create">

</form>

{% endblock %}